<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bing.funread.common.mapper.ExercisesOptionsMapper" >
  <resultMap id="BaseResultMap" type="com.bing.funread.common.domain.ExercisesOptions" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="exercises_id" property="exercisesId" jdbcType="BIGINT" />
    <result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
    <result column="order" property="order" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, exercises_id, pic_url, order, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from exercises_options
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from exercises_options
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bing.funread.common.domain.ExercisesOptions" >
    insert into exercises_options (id, exercises_id, pic_url, 
      order, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{exercisesId,jdbcType=BIGINT}, #{picUrl,jdbcType=VARCHAR}, 
      #{order,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bing.funread.common.domain.ExercisesOptions" >
    insert into exercises_options
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="exercisesId != null" >
        exercises_id,
      </if>
      <if test="picUrl != null" >
        pic_url,
      </if>
      <if test="order != null" >
        order,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="exercisesId != null" >
        #{exercisesId,jdbcType=BIGINT},
      </if>
      <if test="picUrl != null" >
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="order != null" >
        #{order,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bing.funread.common.domain.ExercisesOptions" >
    update exercises_options
    <set >
      <if test="exercisesId != null" >
        exercises_id = #{exercisesId,jdbcType=BIGINT},
      </if>
      <if test="picUrl != null" >
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="order != null" >
        order = #{order,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bing.funread.common.domain.ExercisesOptions" >
    update exercises_options
    set exercises_id = #{exercisesId,jdbcType=BIGINT},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      order = #{order,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByPoetryId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from exercises_options eo
    where exists(select 1 from exercises e
      where e.id = eo.exercises_id and e.poetry_id = #{poetryId,jdbcType=BIGINT})
    order by exercises_id,`order`
  </select>
  <select id="selectByExercisesIdList" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from exercises_options eo
    where exists(select 1 from exercises e
      where e.id = eo.exercises_id and e.id in
      <foreach collection="exercisesIdList" item="exercisesId" index="index"
               open="(" close=")" separator=",">
        #{exercisesId}
      </foreach>
      )
    order by exercises_id,`order`
  </select>
</mapper>