<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bing.funread.common.mapper.UserCourseMapper" >
  <resultMap id="BaseResultMap" type="com.bing.funread.common.domain.UserCourse" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="course_id" property="courseId" jdbcType="BIGINT" />
    <result column="finished_num" property="finishedNum" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, course_id, finished_num, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_course
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_course
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bing.funread.common.domain.UserCourse" >
    insert into user_course (id, user_id, course_id, 
      finished_num, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{courseId,jdbcType=BIGINT}, 
      #{finishedNum,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bing.funread.common.domain.UserCourse" >
    insert into user_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="finishedNum != null" >
        finished_num,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=BIGINT},
      </if>
      <if test="finishedNum != null" >
        #{finishedNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bing.funread.common.domain.UserCourse" >
    update user_course
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="courseId != null" >
        course_id = #{courseId,jdbcType=BIGINT},
      </if>
      <if test="finishedNum != null" >
        finished_num = #{finishedNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bing.funread.common.domain.UserCourse" >
    update user_course
    set user_id = #{userId,jdbcType=BIGINT},
      course_id = #{courseId,jdbcType=BIGINT},
      finished_num = #{finishedNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByUserAndCourse" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from user_course
    where user_id = #{userId,jdbcType=BIGINT}
      and course_id = #{courseId,jdbcType=BIGINT}
  </select>
  <select id="selectHasStudyPoetrys" resultType="java.lang.Integer" parameterType="java.lang.Long" >
    select ifnull(sum(finished_num), 0)
    from user_course
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <select id="selectReadInfo" resultType="com.bing.funread.common.dto.ReadInfoDto" parameterType="java.lang.Long" >
    select poetry_info_id poetryInfoId,`order`,uca.audio_url audioUrl,p.pic_url picUrl
    from user_course uc
    inner join user_course_audio uca on uc.id = uca.user_course_id
    inner join poetry_info p on uca.poetry_id = p.poetry_id and uca.poetry_info_id = p.id
    where uc.user_id = #{userId,jdbcType=BIGINT}
      and uc.course_id = #{courseId,jdbcType=BIGINT}
      and uca.poetry_id = #{poetryId,jdbcType=BIGINT}
    order by p.`order`
  </select>
  <update id="updateCourseFinishedAddOne" parameterType="java.lang.Long" >
    update user_course
    set finished_num = finished_num + 1
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>